body{
    margin: 0;
    background: black;
}
ul{
    list-style: none;
    padding: 0;
    overflow: hidden;
}
nav{
    
    padding: 0 20px;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 30px rgb(36, 231, 111);
    
}
h1, p{
    color: rgb(221, 17, 17);
   
}
p{
    border: none;
    background: rgb(39, 38, 38);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgb(36, 231, 111);
}
li{
    padding: 0 20px;  
}
nav, ul{
    display: flex;
    flex-direction: row;
}
.logo img{
    margin: 0;
padding: 0px ;
width: 100px;
}
button{
    background: transparent;
    border: none;
    color:rgb(36, 231, 111);
    font-size: 35px;
    position: absolute;
    right: 10px;
    top: 30px;
    display: none;
}
.logo{
    background: rgb(0, 0, 0);
    padding: 5px 0px 0px;
   
}
button:focus ~ ul{
    height: 250px;
}
 @media (max-width:700px) {
    nav, ul{
        flex-direction: column;
        align-items: unset;
    }
    ul{
        text-align: center;
        padding-top: 20px ;
        height: 0;
    }
    nav{
        padding-top: 20px;
        border-radius: 0px 0px 40px 40px;
    }
    .logo{
        padding: 0;
        margin: 0;
        align-items: center;
       
    }
    button{
        display: flex;
        align-items: center;
    }

 }